#login {
  background: url('../img/login-bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

.card,
.card-header {
  background: none;
  border: none;
  color: white;
  top: 50%;
}

#forms .card {
  top: 20%;
}



#forms {
  background: url('../img/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}